body {
    background-color: rgb(249, 248, 248);
    font-family: 'Patrick Hand', cursive;
}

.taskContainer {
    text-align: center;
    color: black;
    background-color: rgb(229, 229, 229);
    width: 300px;
    height: 215px;
    margin: 11px;
    display: inline-table;
    border: 0px solid grey;
    border-radius: 10px;
}

.mainContentWindow{

  text-align: center;
}

.taskTitleBar{
    height: 55px;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #607D8B;
    position: relative;
}

.taskTitleText{
  font-size: 27px;
  padding: 2px;
  padding-left: 9px;
  width: 260px;
  height: 32px;
  color: white;
}

.taskDate{
  font-size: 16px;
  padding-left: 10px;
  margin-top: -1px;
  width: 260px;
  color: rgba(222, 222, 222, 0.59);
}

.lSide{
  width: 260px;
  display: inline-block;
}

.taskStatus{
  height: 30px;
  width: 30px;
  background-color: rgba(158, 158, 158, 0.31);
  border-radius: 400px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 13px;
  border-style: solid;
  outline: none;
}

.status{
  font-size: 20px;
  top: 2px;
  left: -3px;
  color: rgba(255, 255, 255, 0.22);
}

.taskDescription{
  height: 160px;
  width: 300px;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 2px;
  text-align: left;
  font-size: 22px;
  color: #40535c;
 }

.row.menuBar {
    height: 49px;
    background: rgba(128, 128, 128, 0.07);
    position: relative;
}

.taskDate {
    font-family: 'Titillium Web', sans-serif;
}


.addTask {
    position: absolute;
    color: #40535c;
    font-size: 25px;
    left: 20px;
    top: 10px;
}

.mainMenu {
    position: absolute;
    right: 11px;
    top: 7px;
    font-family: 'Titillium Web', sans-serif;
}

.btn-primary-Custom{
    color: #fff;
    background-color: #607d8b;
    border: none;
    font-size: 16px;
}

.btn-primary-Custom:hover {
    color: #afbbc1;
}


.btn-primary-Custom:focus {
    color: #afbbc1;
}

.btn-primary-Custom:active {
    color: #afbbc1;
}

.largerText {
    font-size: 16px;
}

.drop-shadow {
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.28);
}


.addTaskForm {
    width: 350px;
    margin-top: 20px;
    color: #40535c;
    background-color: rgb(229, 229, 229);
    border-radius: 8px;
    text-align: left;
}

.title {
    font-size: 33px;
    background-color: #607d8b;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: beige;
}

label {
    padding-left: 14px;
    font-size: 21px;
    padding-bottom: 0px;
    margin-bottom: -2px;
    font-weight: 100;
    margin-top: 9px;
}

.inputBox {
    width: 320px;
    margin-left: 15px;
}

.inputArea {
    width: 320px;
    margin-left: 15px;
}

.submitBtn {
    text-align: center;
    padding: 15px;
}

form {
    width: 350px;
    text-align: center;
    margin: 0 auto;
}


.taskStatus:hover {
    background-color: rgba(128, 128, 128, 0.56);
}

input.hiddenIn {
    display: none;
}

i.glyphicon.glyphicon-ok.status.completeTask {
    color: #8BC34A;
    border: solid 2px #8bc34a;
    border-radius: 400px;
    padding: 3px;
}