.activity_holder {
    width: auto;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.container {
    margin-top: 50px;
}

div#viewer {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 100px;
}


.ghost {
    opacity: .5;
    background: #C8EBFB;
}

.boxed {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 8px;
    background-color: #fdfdfd;
    /* overflow: hidden; */
    -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 80px;
    transition: transform .2s ease-in-out;
}

.box-title {
    font-size: 25px;
    display: block;
    cursor: text;
}

.box-title:focus {
    outline-width: 3px;
}


.box-heading {
    background-color: #00000003;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;

}

.box-body {
    padding: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box-body:focus {
    outline-width: 3px;
    outline-offset: -10px;
}

.entry-content {
    padding-bottom: 50px;
}

span.blue-text {
    color: #0ba0ee;
}

.box-icon {
    height: 60px;
    width: 60px;
    background-size: contain;
    margin-bottom: -20px;
    margin-left: -10px;
    display: inline-block;
}

.box-icon.objective {
    background-image: url(http://localhost:8000/wp-content/uploads/2018/07/brain.png);
}

.box-icon.file {
    background-image: url(http://localhost:8000/wp-content/uploads/file.png);
}

.box-icon.step {
    background-image: url(http://localhost:8000/wp-content/uploads/step.png);
}

.box-icon.finish {
    background-image: url(http://localhost:8000/wp-content/uploads/tick.png);
}

.step-num {
    position: relative;
    left: 20px;
    font-size: 20px;
    top: 7px;
}

.boxed:before {
    content: "";
    width: 100px;
    height: 50px;
    background-color: #66d3ff;
    position: absolute;
    right: calc(50% - 50px);
    margin-top: -50px;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 50%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 50%);
}

.boxed:after {
    content: "";
    width: 100px;
    height: 50px;
    background-color: #65d4ff;
    position: absolute;
    right: calc(50% - 50px);
    margin-top: 0px;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
}

a.file-link {
    padding: 10px;
    background-color: #66d3fe;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

span.box-step-number {
    position: relative;
    margin-left: -37px;
    margin-right: 22px;
}

.content-area {
    overflow: hidden;
}

.entry-content {
    max-width: 800px;
    margin: auto;
}

button.remove_button {
    position: relative;
    height: 40px;
    /* margin-top: -40px; */
    /* top: 75px; */
    /* left: -40px; */
    font-size: 30px;
    background: none;
    border: none;
    opacity: 0.4;
    outline: none;
}

button.remove_button:hover {
    opacity: 1;
}

button.move_button {
    position: relative;
    height: 40px;
    /* margin-top: -40px; */
    /* top: 75px; */
    /* left: -40px; */
    width: 40px;
    font-size: 30px;
    background: none;
    border: none;
    opacity: 0.4;
    outline: none;
    cursor: move;
}

button.move_button:hover {
    opacity: 1;
}

.tools {
    position: relative;
    top: 100px;
    margin-top: -80px;
    width: 40px;
    height: 80px;
    left: -40px;
}


.toolbar {
    background-color: #cbcbcb;
    width: 100vw;
    height: 40px;
    border-bottom: solid 1px #b0b0b0;
}

button.create_box {
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 0px;
    line-height: 40px;
    background: none;
    outline: none;
    left: calc(50vw - 60px);
    position: relative;
    border: none;
}

button.create_box:hover {
    opacity: 0.6;
}

.medium-editor-action {
    width: 40px;
    height: 45px;
    font-size: 40px;
}


p.title-text {
    display: inline;
    outline-width: 3px;
}

p {
    margin: 0 0 10px;
    line-height: 1.8;
}


.add_file_buttons {
    padding: 20px;
    padding-left: 30px;
    padding-top: 0px;
}


button.file_link.btn {
    font-size: 20px;
    background: #66d2fe;
    margin-left: 8px;
    outline: none;
}




.activity_button {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 8px;
    background-color: #e9e9e9;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-in-out;
    width: 200px;
    display: inline-grid;
    margin: 8px;
    cursor: pointer;
}

.activity_button:hover {
    transform: scale(1.03);
}

.activity_button.running {
    background-color: #6be937cc;
}

.activity_button.is_ready {
    background-color: #b3e764e3;
}

.activity_title {
    background-color: #a9a9a973;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 110%;
    margin: 0px;
}

.activity_body {
    padding: 10px;
    padding-bottom: 30px;
}

.large-icon {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.description {
    font-size: 15px;
    margin-bottom: 20px;
}


.num_students {
    text-align: center;
    font-weight: 500;
    position: relative;
}

.num_containers {
    text-align: center;
    font-weight: 500;
    position: relative;
}


form.activity_controller_form {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 8px;
    background-color: #e9e9e9;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-in-out;
    width: 100%;
    display: inline-grid;
    margin: 8px;
    padding: 30px;
}


label.form-label {
    display: inline;
}

.form-locked {
    pointer-events: none;
    background: #f7f7f7;
}


span.jconfirm-title {
    line-height: 120%;
}

.alert.alert-success {
    background-color: #32ad4d;
    color: white;
    font-weight: 100;
    border: none;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px white solid;
}


button.btn.x-wide {
    display: block;
    width: -webkit-fill-available;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 30px;
}

button.btn.lighter {
    opacity: 0.7;
}

button.btn.wide {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: calc(50% - 100px);
    width: 200px;
    margin-bottom: 50px;
}



iframe.add-container-frame {
    border: 0px;
    height: 50vh;
    border-radius: 10px;
    width: 100%;
}



.embedded-form {
    padding: 18px;
}


select#containers-hidden {
    display: none;
}


.container-box {
    width: 35vw;
    height: calc(35vw + 20px);
    max-width: 200px;
    max-height: 220px;
}


img.container-image {
    height: calc(100% - 60px);
}

.container-image-holder {
    overflow: hidden;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.container-box {
    background-color: #e9e9e9;
    border-radius: 20px;
    display: inline-block;
    margin: 0.5vw;
    /* overflow: hidden; */
    margin-top: -20px;
}

.container-detail {
    padding: 10px;
    text-align: center;
}

select#container-selector {
    outline: none;
    border: none;
    width: 30vw;
    max-width: 160px;
    font-size: 20px;
    cursor: pointer;
}

div#container-area {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

i.fas.fa-plus.xl-icon {
    font-size: 300%;
    padding-top: 40%;
}


.container-box.add-new-button {
    background-color: #ffffff00;
    border: solid #d7d7d7 3px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
}



.builder {
    margin: auto;
    margin-bottom: 80px;
    margin-top: 60px;
}

.container-box.add-new-button:hover {
    background-color: #f9f9f9;
}


.delete-button {
    position: relative;
    font-size: 30px;
    margin-top: -30px;
    text-align: right;
    right: -10px;
    top: 20px;
    transition: .1s ease-in-out;
}

.add-new-button {
    top: 25px;
    position: relative;
}

.delete-button:hover {
    color: #e00000;
}


.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-closeIcon {
    font-size: 60px !important;
    top: 20px;
    padding-right: 14px;
    position: relative;
    /* left: -20px; */
}


.container-area {
    margin-top: 50px;
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: solid 2px #9d9d9d;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-box.created {
    background-color: #51c1cf26;
}

.content-area {
    border: solid 2px #9d9d9d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 50px;
}


.config-title {
    font-size: 28;
    padding-left: 5px;
    margin-top: -25px;
    margin-bottom: 35px;
}


.content-title {
    font-size: 28;
    padding-left: 30px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-bottom: solid 2px #9d9d9d45;
}


.smaller-viewer {
    padding-left: 30px;
    padding-right: 30px;
}


.padded-modal {
    padding: 40px;
}

.center-content {
    text-align: center;
}


textarea#description {
    border: solid 1px #dadada;
}

.embedded-input {
    width: 60%;
    margin-bottom: 10px;
    margin-top: -10px;
}

div#loading {
    color: #ff8632;
    font-size: 30px;
    text-align: center;
    width: 120px;
    margin-top: 40vh;
    margin-right: auto;
    margin-left: auto;
    cursor: wait;
    position: relative;
    display: none;
}

img.loading_image {
    width: 100%;
}

img.container-image_small {
    width: 50px;
    height: 50px;
}