{% extends "base.html" %} {% block content %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content_builder/src/css/style_show.css') }}">



<div class=container-area>
    <div class="config-title">Lesson Containers</div>
    
    <div class="activity_workspace_btn" target="_blank" onclick="window.open('{{ popout_url }}', '_blank');">
    Open Activity Workspace
    </div>
    
    

</div>



<div class="content-area">
    <div class="content-title">Lesson Content</div>
    <div class="smaller-viewer">
        <!-- blocks will go in here, leave empty -->
        <div id="viewer">
            {{ content | safe}}
        </div>
    </div>
</div>




<script>
    $("p").each(function(index) {
        $(this).prop('contenteditable', false);
    });

    $(".upload_file.btn").each(function(index) {
        $(this).remove()
    });
</script>



{% endblock %}