{% extends "modal_base.html" %} 
{% block content %}
<div class="center-content">
    
    <div class="error-text">{{ error }}</div>

    <div class="input_group">
        <div class="input_label">
            Container Title
        </div>
        <div class="input_field">
            <input id="title_field" class="data_input" type="text">
        </div>
    </div>
  

    <div class="input_group">
        <div class="input_label">
            Image URI
        </div>
        <div class="input_field">
                <input id="uri_field" class="data_input" type="text">
        </div>
    </div>


    <div class="input_group">
            <div class="input_label">
                Container Configuration Description
            </div>
            <div class="input_field">
                    <input id="description_field" class="data_input" type="textarea">
            </div>
        </div>
    
        <div class="port_config_group">
            <div class="port_number">Port Number<input class="port_input" type="text" name="portNumber"></div>
            <div class="port_windowed">Windowed<input class="windowed_input" type="text" name="portWindowed"></div>
            <div class="port_title">Window Title<input class="title_input" type="text" name="portTitle"></div>
            <div class="port_icon">Window Icon<input class="icon_input" type="text" name="portIcon"></div>
        </div>

        <button type="button" id="add_new_port" class="btn btn-success" onclick="AddPort()">
                Add Port (External)
                <i class="fas fa-plus"></i>
        </button>

        <button type="button" class="btn btn-warning" onclick=" Submit()">
                Save  <i class="fas fa-check"></i>
        </button>
</div>  


<div id="wait">
    Please Wait...
</div>

<script>
        $(document).ready(function() {
            $("#wait").hide();
            $("#data_form").submit(function(e) {
                $("#data_form").hide();
                $("#wait").show();
            });
        });



        function AddPort(){
        
        var inner_html ='<div class="port_config_group">'+
                        '<div class="port_number">Port Number<input class="port_input" type="text" name="portNumber"></div>'+
                        '<div class="port_windowed">Windowed<input class="windowed_input" type="text" name="portWindowed"></div>'+
                        '<div class="port_title">Window Title<input class="title_input" type="text" name="portTitle"></div>'+
                        '<div class="port_icon">Window Icon<input class="icon_input" type="text" name="portIcon"></div>'+
                        '<div class=\"delete-button_port btn btn-danger\">Delete <i class=\"far fa-times-circle\"></i></div>'+
                    
                        '</div>'

        $("#add_new_port").before(inner_html);

        $(".delete-button_port").confirm({
            title: 'Confirm Deletion',
            icon: 'fa fa-warning',
            content: 'Do you want to remove this port from container?',
            type: 'red',
            theme: 'supervan',
            buttons: {
                confirm: {
                    btnClass: 'btn-red',
                    action: function () {
                        this.$target.parent().remove();
                    }
                },
                cancel: function () { }
            }
        });
    }


    function GetFields(className){
        var count = 0
        var string_list = ""
        o = "." + className
        console.log(o)
        $( o ).each(function( index ) {
            if (count == 0){
                string_list = string_list + $(this).val()
            } else {
                string_list = string_list + "," + $(this).val()
            }
            count+=1;
        });
        console.log(string_list)
        return string_list
    }


    function Submit(){

        port_number_list = GetFields("port_input")
        windowed_list = GetFields("windowed_input")
        title_list = GetFields("title_input")
        icon_list = GetFields("icon_input")

        console.log( $('#title_field').val())
         $.post("/staff/create_container", { container_title: $('#title_field').val(),
                                            container_description: $('#description_field').val(),
                                            container_uri: $('#uri_field').val(),
                                            port_number_list: port_number_list,
                                            windowed_list:windowed_list,
                                            title_list:title_list,
                                            icon_list:icon_list
                    })
            .success(function(response_object) {
                console.log('/staff/container_progress?cont=' + response_object.redirect)
                window.location = '/staff/container_progress?cont=' + response_object.redirect
            })
            .fail(function(xhr) {
                var data=xhr.responseText;
                var jsonResponse = JSON.parse(data);
                var msg = jsonResponse["content"];
                console.log(msg)
                $.alert({
                    title: 'Error',
                    icon: "fa fa-exclamation-circle",
                    content: msg
                });

            }); 
    }


</script>

{% endblock %}
