{% extends "modal_base.html" %} 
{% block content %}

<form class="embedded-form" id="data_form" method="post" novalidate>
<div class="center-content">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="embedded-input") }}
        {% for error in form.name.errors %}
        <span class="form_error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class="embedded-input") }}
        {% for error in form.image.errors %}
        <span class="form_error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="embedded-input") }}
        {% for error in form.description.errors %}
        <span class="form_error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ports.label }}<br>
        {{ form.ports(class="embedded-input") }}
        {% for error in form.ports.errors %}
        <span class="form_error">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class="btn btn-success") }}</p>
</div>  
</form>
<div id="wait">
    Please Wait...
</div>

<script>
        $(document).ready(function() {
            $("#wait").hide();
            $("#data_form").submit(function(e) {
                $("#data_form").hide();
                $("#wait").show();
            });
        });
</script>

{% endblock %}
