{% extends "base.html" %} {% block content %}


<div class="activity_holder">


    {% for activity in activities %}

    <div class="activity_button" onclick="location.href='../staff/activity/{{ activity.id }}';">

    <div {% if activity.running %} class="activity_title bg-success" 
        {% elif activity.enabled %} class="activity_title bg-warning"
        {% else %} class="activity_title bg-danger" {% endif %} >
            <div>{{ activity.title }}</div>
        </div>
        <div class="activity_body">
            <div class="description">
                This activity looks at cyber security.
            </div>
            <div class="num_students">
                10 Students
            </div>
            <div class="num_containers">
                20 Containers
            </div>
        </div>
    </div>

    {% endfor %}


    <div class="activity_button" onclick="location.href='../staff/create';">
        <div class="activity_title">
            <div>Create a new activity</div>
        </div>
        <div class="activity_body">
            <div class="large-icon"><i class="fas fa-plus"></i></div>
        </div>
    </div>


</div>



{% endblock %}
